NEXT_OPEN_AI_KEY=
NEXT_RESEND_API_KEY=
NEXT_BLOB_STORAGE_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
ALGOLIA_APP_ID=
ALGOLIA_WRITE_API_KEY=
